<header class="masthead">
  <a class="wordmark" href="/">
    <img class="brand-mark" src="/assets/icons/gutterpress-icon-dark.svg" alt="" width="40" height="40">
    <span>Gutterpress <small>Markdown &amp; CSS, typeset for print</small></span>
  </a>
  <nav aria-label="Site">
    <a href="/blog.html">Blog</a>
    <a href="https://github.com/dimm-city/gutterpress/tree/main/examples/gutterpress-user-guide">User guide</a>
    <a href="/privacy/index.html">Privacy</a>
    <a href="https://github.com/dimm-city/gutterpress">GitHub</a>
    <a class="nav-cta" href="https://github.com/dimm-city/gutterpress/releases/latest">Download</a>
  </nav>
</header>
